body {
}

header {
    background-color: #4a6f4e;
}

titletown-logo {
    width: 25%;
    float: left;
}

footer {
    background-color: #4a6f4e;
    color: #fff;
    text-align: center;
}

.social {
}

/*Styles for hamburger menu*/
.mobile-nav a{
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

nav{
    padding: 1%;
    margin-bottom: 1%;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
        
}

.mobile {
    display: none;
}

#menu-links {
    display: none;
}