body,
header,
nav,
main,
footer,
h1,
h2,
h3,
h4,
p,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #4a6f4e;
}

header {
    width: 25%;
    float: left;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-image: none;
    text-align: center;
}

nav li {
    font-size: 1em;
    font-family: 'DM Sans', serif;
    font-weight: 400;
}

nav li a {
    display: block;
    color: #0e502c;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-family: 'DM Sans', serif;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    margin-bottom: 50px;
}

footer {
    background-color: #4a6f4e;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

.social {
    padding: 0.5em;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lora', serif;
}

h2,
h4 {
    color: #0e502c;
}

h4,
p {
    padding: 0.5em;
}

h2 {
    padding-top: 0.5em;
}

p {
    font-family: 'DM Sans', serif;
}

.contact {
    font-family: 'DM Sans', serif;

}

.mobile-nav {
    color: #fff;
}

/* Style rules for all links */

a:link {
    color: #fff;
    text-decoration: none;
}

a:active {
    color: #b4bfb1;
    text-decoration: none;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

.contact a:hover {
    background-color: #b4bfb1;
    color: #0e502c;
}

.centered {
    align-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Lora', serif;
    text-align: center;
    text-shadow: 3px 1px 0 black;
    font-weight: normal;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-family: 'Lora', serif;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Style rules for external companies links */
.grid-container a:link {
    color: #fff;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

.grid-container a:active {
    color: #4a6f4e;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

.grid-container a:visited {
    color: #fff;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

.grid-container a:hover {
    color: #4a6f4e;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

/* Style rules for external companies page */
ul {
    list-style: none;
}

/* Style rules for contact page */
#contact-logo {
    float: left;
}

#form {
    margin-top: 150px;
}

#contact {
    text-align: center;
}

/* Style rules for contact page links */
#contact-links {
    text-align: left;
    padding-top: 20px;
}

#contact-links a:link {
    color: #b4bfb1;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

#contact-links a:active {
    color: #4a6f4e;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

#contact-links a:visited {
    color: #b4bfb1;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

#contact-links a:hover {
    color: #4a6f4e;
    font-family: 'DM Sans', serif;
    text-decoration: none;
}

/* Style rules for mobile*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #4a6f4e;
    height: auto;
    width: 150px;
    padding-bottom: 1em;
    text-emphasis-style: filled;
}

header img {
    margin: auto;
}

.titletown-logo {
    margin-top: 2em;
    margin-right: 0;
    height: auto;
    width: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    background-color: #b4bfb1;
    margin: 1em;
}

/*Styles for hamburger menu*/
.mobile-nav a {
    font-family: 'Lora', serif;
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;

}

.mobile-nav a:hover {
    background-color: #b4bfb1;
    color: #0e502c;
}

.active {
    background-color: #fff;
    color: #0e502c;

}

.mobile {
    display: block;
}

.desktop,
#menu-links {
    display: none;
}

/* Media Query for tablet*/
@media screen and (min-width: 600px) {
    .desktop, .mobile {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #4a6f4e;
        height: 150px;
        padding-bottom: 1em;
    }

    .titletown-logo {
        margin-top: 2em;
        margin-right: 0;
        height: auto;
        width: 150px;
    }

    .centered {
        font-size: 50px;
        top: 50%;
        left: 50%;
        text-shadow: 4px 2px 0 black;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
    }

    .grid-item {
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

}

/*Media Query for Desktop*/
@media screen and (min-width: 769px) {
    header {
        width: 25%;
        float: left;
        padding-bottom: 1em;
        background-color: #4a6f4e;
        margin: 1em;
    }

    .titletown-logo {
        margin-top: 2em;
        margin-right: 0;
        height: auto;
        width: 150px;
    }

    .centered {
        font-size: 85px;
        top: 50%;
        left: 50%;
        text-shadow: 5px 3px 0 black;
    }

    nav {
        float: right;
        width: auto;
        margin: 8em 1em 0 0;
    }

    .mobile-nav {
        display: none;
    }

    .desktop {
        display: block;
        font-size: 0.8em;
        color: #fff;
    }

    nav li {
        border-top: none;
        display: inline-block;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 1em 1em;
        display: block;
        text-align: center;
    }

    nav li a:hover {
        background-color: #b4bfb1;
        color: #0e502c;
        display: inline-block;
    }

    nav li a:active {
        background-color: #fff;
        color: #0e502c;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
    }

    .grid-item {
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

}